<div ng-controller="HotelDetailCtrl">
    <div class="side-box-content">
        <form class="ob-form" name="hotelRoomSearch">
            <fieldset>
                <!--<input id="location" type="text" placeholder="Washington DC" name="location" ng-model="searchParams.location" required>-->
                <input type="text" class="date" readonly="true" datepicker-popup="{{format}}" ng-model="searchParams.fromDate" is-open="firstOpened" min="fromMinDate"  datepicker-options="dateOptions" show-weeks='false' ng-change="updateToDate()"  ng-required="true" close-text="Close"/>
                <input type="text" class="date" readonly="true" datepicker-popup="{{format}}" ng-model="searchParams.toDate" is-open="secondOpened" min="toMinDate" datepicker-options="dateOptions" show-weeks='false'  ng-required="true" close-text="Close"/>
                <select name="rooms"  ng-model="searchParams.rooms" ng-options="r + ' Room(s)' for r in [1,2,3,4,5,6]" required>
                    <option value="">Rooms</option>
                </select>
                <select name="adults"  ng-model="searchParams.adult" ng-options="a + ' Adult(s)' for a in [1,2,3,4,5,6]" required>
                    <option value="">Adults</option>
                </select>
                <select name="children"  ng-model="searchParams.child" ng-options="r + ' Children' for r in [0,1,2,3,4,5,6]">
                    <option value="">Children</option>
                </select>
                <button ng-click="getAvailableRooms(searchParams);" ng-disabled="hotelRoomSearch.$invalid" class="btn action">Update</button>
            </fieldset>

            <div class="clear"></div>
        </form>
    </div>

</div>