
<!-- begin SnapEngage code -->
<script type="text/javascript" ng-show="pageId !== 'external-search-page'">
    (function() {

        var se = document.createElement('script'); se.type = 'text/javascript'; se.async = true;
        se.src = '//commondatastorage.googleapis.com/code.snapengage.com/js/9635e73f-8c76-49bd-8645-c2aaea43e407.js';
        var done = false;
        se.onload = se.onreadystatechange = function() {
            if (!done&&(!this.readyState||this.readyState==='loaded'||this.readyState==='complete')) {
                done = true;
                // Place your SnapEngage JS API code below
                //SnapEngage.openProactiveChat(true, true); // Example: open the proactive chat on load
            }
        };
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(se, s);
    })();
</script>
<!-- end SnapEngage code -->>