<div id="content-wrapper" class="container">
    <div class="row">

        <!-- start side nav. Move to include? -->
        <div id="side-bar" class="col-md-3 hidden-phone"  ng-include="mobileSidebarInclude()">

        </div><!-- end side nav -->

        <!-- start filters Move to include? -->
        <div id="main-content" class="col-md-9">
            <h2><img src="//washingtontimes-yellowstonehotel.netdna-ssl.com/assets/img/search-icon2.png" alt="" /> Hotel Search Results</h2>
            <div sticky offset="0" id="filter-stick">
                <div class="row">
                    <div class="col-md-12">
                        <div id="filter-options">
						
                            <ul>
                            	<li  class="filterOption visible-xs">
									<button id="showLeft" responsive-left-menu><i class="fa fa-filter"></i> Filter</button>
                            	</li>
                                <!--<li class="filterOption">-->
                                    <!--<button class="filterbtn" show-filter-options="0">Most Popular</button>-->
                                <!--</li>-->

                                <!--
                                <li class="filterOption">
                                    <button class="filterbtn" show-filter-options="1">Star Rating</button>
                                </li>
                                -->

                                <li class="filterOption">
                                    <button class="filterbtn" show-filter-options="2">Hotel Name</button>
                                </li>
                                <li class="filterOption last">
                                    <button class="filterbtn" show-filter-options="3">Price</button>
                                </li>
                                <!--<li class="filterOption">-->
                                    <!--<button class="filterbtn" show-filter-options="4">Reviews | <i class="fa fa-angle-down fa-lg"></i></button>-->
                                <!--</li>-->
                            </ul>

                            <div id="filterDetails">
                                <!--<div class="optionList_0">-->
                                    <!--<button>Is this option available from API?</button>-->
                                <!--</div>-->
                                <div class="filterDetail optionList_1">
                                    <select name="ratingRange" ng-model="searchParams.ratings" ng-options="s + ' Stars' for s in [5,4,3,2,1]" ng-change="searchHotels(true)">
                                        <option style="display:none" value="">-- select rating --</option>
                                    </select>
                                    <select name="ratings" ng-model="searchParams.sortRating" ng-options="o.param as o.name for o in HiLo" ng-change="searchHotels(true)">
                                        <option style="display:none" value="">-- sort by --</option>
                                    </select>
                                    <div class="clear"></div>
                                </div>
                                <div class="filterDetail optionList_2" style="padding-top : 10px;">
                                    <input type="text" ng-model="searchParams.name" style="width: 25%; margin-left : 0px;"><button ng-click="searchHotels(true)" class="btn action"><i class="fa fa-search fa-lg"></i></button>
                                     <select name="ratings" ng-model="searchParams.sortName" ng-options="o.param as o.name for o in HiLo" ng-change="searchHotels(true)">
                                        <option style="display:none" value="">-- sort by --</option>
                                    </select>

                                    <select class="mobileLetterSelect" style="display:none;" name="ratings" ng-model="searchParams.name" ng-options="char for char in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']" ng-change="searchHotels(true)">
                                        <option style="display:none" value="">-- choose letter --</option>
                                    </select>
                                    <ul class="results-list" style="height: 0px; margin: 0 !important; margin-top: 10 !important;">
                                        <li style="float:left;list-style: none; margin: 0px 1px; padding: 0;"  ng-repeat="item in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']">
                                            <span ng-click="searchParams.name = item;searchHotels(true);">{{item}}</span>
                                        </li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="filterDetail optionList_3" style="padding-top : 10px;">
                                    <span style="float : left; padding : 0px;">$</span><input style="width : 50px; " type="text" ng-model="searchParams.priceLow"><span style="padding : 0 2px;">to</span>
                                    <span style="float : left; padding : 0px;">$</span><input style="width : 50px; " type="text" ng-model="searchParams.priceHigh"><button ng-click="searchHotels(true)" class="btn action"><i class="fa fa-search fa-lg"></i> Update</button><span>OR</span>
                                    <select name="ratings" ng-model="searchParams.sortPrice" ng-options="o.param as o.name for o in HiLo">
                                        <option style="display:none" value="">-- sort by --</option>
                                    </select>
                                </div>
                                <!--<div class="optionList_4">-->
                                    <!--<button>Is this option available from API?</button>-->
                                    <!--<select name="ratingRange"  ng-model="searchParams.ratings" ng-options="s + ' Stars' for s in [5,4,4,2,1]" ng-change="searchHotels()"></select>-->
                                    <!--<select name="ratings" ng-model="searchParams.sortRating" ng-options="o.param as o.name for o in HiLo" ng-change="searchHotels(true)"></select>-->
                                <!--</div>-->
                            </div>

                        </div>

  
                    </div>
                </div>
            </div><!-- end filter stick -->
			<div class="clear"></div>
            <!-- start results list -->

            <div class="alert alert-error invisible" errormsg >
                <button type="button" class="close" hideparent >&times;</button>
                <i class="fa fa-exclamation-triangle"></i> <span class="message">{{errorMessage}}</span>
            </div>
            <ul class="results-list" lazy-load >
                <li ng-repeat="item in list | limitTo: results.lazyCount" class="animate-results">
                    <div class="tac hotel-img">
                        <a href="/detail/{{item.hotel.providerCode}}/{{item.hotel.hotelChain}}/{{item.hotel.hotelCode}}/{{searchParams.from | date:'yyyy-MM-dd'}}/{{searchParams.to | date:'yyyy-MM-dd'}}"><img ng-src="{{item.hotel.thumbnail.url}}"/> </a>
                        <div class="star" starify={{item.hotel.rating}}></div>
                    </div>
                    <div class="hotel-des">
                        <a href="/detail/{{item.hotel.providerCode}}/{{item.hotel.hotelChain}}/{{item.hotel.hotelCode}}/{{searchParams.from | date:'yyyy-MM-dd'}}/{{searchParams.to | date:'yyyy-MM-dd'}}"><h3>{{item.hotel.name}}</h3> </a>
                        <h4>{{item.hotel.address1}}</h4>
                        <h4>{{item.hotel.address2}}</h4>
                        <ul class="amenities-list" >
                            <li ng-repeat="a in item.hotel.amenities | limitTo:4">{{a.description}}</li>
                            <div class="clear"></div>
                        </ul>
                        <p class="map-pop"><a href class="modal-open map" show-modal-content="map"><i class="fa fa-map-marker"></i> &nbsp; View On Map </a></p>
                    </div>
                    <div class="tac hotel-price">
                        <span class="big-bold">${{item.hotel.minAmount | number:0}}</span>
                        <span class="pre-night">PER NIGHT</span>
                        <a href="/detail/{{item.hotel.providerCode}}/{{item.hotel.hotelChain}}/{{item.hotel.hotelCode}}/{{searchParams.from | date:'yyyy-MM-dd'}}/{{searchParams.to | date:'yyyy-MM-dd'}}" class="btn action">View </a>
                    </div>
                    <div class="clear"></div>
                </li> <!-- end hotel item -->
            </ul> <!-- end results list -->
            <div id="loadingMore" class="alert alert-info invisible">
                <button type="button" class="close" hideparent >&times;</button>
                <i class="fa fa-exclamation-triangle"></i> <span class="message">loading more results...</span>
            </div>
            <div class="clear"></div>
        </div><!-- end main cont -->

    </div><!-- /end row fluid -->
</div><!-- /end site wrapper -->
